 body {
	margin: 20px auto;
	text-align: center;
}

#container {
	margin: auto;
	height: 960px;
	width: 960px;
	padding: 0;
	font-size: 0;
}

button {
	border-radius: 10px;
	background-color: blue;
	color: white;
	font-weight: bold;
	border: 1px solid silver;
	width: 100px;
	height: 30px;
}

.grid {
	margin: 0;
	padding: 0;
	outline: 1px solid black;
	display: inline-block;
}